@use "./variables";

.breadcrumbContainer {
    width: 100%;
    height: 4rem;
    margin-bottom: 6rem;
    text-decoration: none !important;

    p {
        .routePageLink {
            color: inherit;
            text-decoration: none;
            transition: all 0.2s ease;

            &:hover,
            &:focus {
                font-weight: 600;
                color: variables.$secondaryTexColor;
            }
        }

        .linkActive {
            color: variables.$linkTxtColor;
        }
    }
}

@media (max-width: 992px) {
    .breadcrumbContainer {
        margin-top: 2rem;
        margin-bottom: 0;

        p {
            margin-left: 1rem !important;
        }
    }
}