@use "./variables";


.footerIconContainer {
    width: 6rem !important;
    height: 6rem !important;
    background-color: variables.$footerIconContainerBgColor;
}

.footerContentContainer {
    a {
        transition: all 0.2s ease;
    }

    a:hover,
    a:focus {
        color: variables.$hoverFooterSocialIcon !important;
    }
}

.socialMediaIcon {
    width: 3rem;
    height: 3rem;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
        background-color: variables.$hoverFooterSocialIcon;
        color: variables.$primaryTextColor !important;
    }
}

.powerdBy {
    color: variables.$powerByColor;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        color: variables.$hoverFooterSocialIcon;
    }
}

@media (max-width: 380px) {
    .copyrightPara {
        font-size: 0.86rem!important;
    }
}

@media (max-width: 320px) {
    .copyrightPara {
        font-size: 0.75rem!important;
    }
}