@use "./variables";


.footerIconContainer {
    width: 6rem!important;
    height: 6rem!important;
    background-color: variables.$footerIconContainerBgColor;
}

.socialMediaIcon {
    width: 3rem;
    height: 3rem;
    
    &:hover, &:focus {
        background-color: variables.$hoverFooterSocialIcon;
        color: variables.$primaryTextColor!important;
    }
}
