@use "./variables";


.tawk-chatinput-editor {
    background-color: variables.$secondaryBgColor !important;
}

.fontW500 {
    font-weight: variables.$fontW500;
}

.fontW600 {
    font-weight: variables.$fontW600;
}

.fontW700 {
    font-weight: variables.$fontW700;
}

.izoText {
    color: variables.$secondaryTexColor;
}

.textLight {
    color: variables.$textLight;
}

main {
    background-color: variables.$primaryBgColor !important;
    color: variables.$primaryTextColor !important;
    font-family: variables.$primaryFont;
}
.gallery-wrapper img {
  max-width: none !important;
  height: auto !important;
}