@use "../partials/variables";

.headerHome {
    background-image: url("../Images/headerBgGlass.webp");
    // background-image: url("../Images/headerImg2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .logoHeader {
        transform: rotate(-90deg);
        width: 45rem;
        // position: absolute;
        position:relative;
        // bottom: 10rem;
        top: 30rem;
        left: -16rem;
        background-color: #ffffffa8;
        padding: 1rem 2rem;
    }

    .headerUsluge {
        // margin-bottom: -2rem;
    }

    .headerUslugeContainer {
        width: 18rem;
        height: 10rem;
        background-color: variables.$secondaryBgColor;
        &:first-child {
            color: variables.$primaryTextColor!important;
        }

        .headerLink {
            transition: all 0.2s ease;
        }
        .headerLink:hover, .headerLink:focus {
            color:variables.$primaryTextColor!important;
            
        }
    }
}