@use "../partials/variables";

.headerHome {
    background-image: url("../Images/headerBgGlass.webp");
    // background-image: url("../Images/headerImg2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .logoHeader {
        transform: rotate(-90deg);
        width: 45rem;
        // position: absolute;
        position: relative;
        // bottom: 10rem;
        top: 30rem;
        left: -16rem;
        background-color: variables.$tertiaryBgColor;
        padding: 1rem 2rem;
    }

    .headerSlogan {
        background-color: variables.$tertiaryBgColor;
        height: 20rem;
        width: 40rem;
        margin-left: auto;
        margin-top: 30rem;

        // outline: 1px solid black;
        // box-shadow: 3px 3px 8px;
        // color:  variables.$tertiaryTxtColor!important;
        h1,
        h2 {
            border-color: variables.$primaryColor !important;
            color: variables.$quaternaryTxtColor !important;
        }
    }

    // .headerUslugeContainer {
    //     width: 18rem;
    //     height: 10rem;
    //     background-color: variables.$secondaryBgColor;

    //     .headerIcon {
    //         font-size: 2.5rem;
    //     }
    // }
}

// SECONDARY HEADER
.secondaryHeader {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    height: 40vh !important;
    margin-top: 5rem;
    z-index: 1;

    .secondaryHeaderTxtcontainer {
        width: 40rem;
        right: 3rem;
        bottom: -3rem;
        background-color: variables.$secondaryBgColor;
        color: variables.$tertiaryTxtColor;
    }
}

.uslugeHeader {
    background-image: url("../Images/uslugeHeader1.webp");
}

.tusKabineHeader {
    background-image: url("../Images/headerTusKabine350.webp");
}

.stakleneOgradeHeader {
    background-image: url("../Images/staklenaOgrada300.webp");
}

.tipoviStaklaHeader {
    background-image: url("../Images/tipoviStaklaHeader.webp");
}

.kontaktHeader {
    background-image: url("../Images/kontaktHeader.webp");
}

@media (max-width: 992px) {
    .headerHome {
        // .logoHeader {
        //     transform: rotate(0deg);
        //     left: 2rem;
        // }

         .logoHeader::before {
            content: url("../Images/Logo/IZO-DECOR-GLASS-Logo-Medium.webp");
            // left: 0.5rem;
        }
    }
}

@media (max-width: 992px) {
    .headerHome {
        // .logoHeader {
        //     transform: rotate(0deg);
        //     left: 2rem;
        // }

         .logoHeader {
            content: url("../Images/Logo/IZO-DECOR-GLASS-Logo-Small.webp");
            // left: 0.5rem;
        }

        .headerSlogan {
            width: 35rem;
            height: 17rem;
            margin-top: 28rem;

            h1 {
                font-size: 3.4rem;
            }
        }
    }

    // SECONDARY HEADER
    .secondaryHeader {
        .secondaryHeaderTxtcontainer {
            h1 {
                font-size: 3.5rem;
            }
        }
    }


}

@media (max-width: 768px) {
    .headerHome {
        background-image: url("../Images/headerBgGlassMobileOrigin.webp");
        background-position: right;

        // .headerUsluge {
        //     .headerUslugeContainer {
        //         width: 95%;
        //         height: 5rem;
        //         margin-bottom: 0.5rem;

        //         .headerIcon {
        //             font-size: 1.8rem;
        //         }
        //     }
        // }

        .logoHeader {
            content: url("../Images/Logo/IZO-DECOR-GLASS-Logo-ExSm.webp");
            width: 40rem;
            // left: 0.5rem;
        }

        .headerSlogan {
            width: 29rem;
            height: 15rem;

            h1 {
                font-size: 2.9rem;
            }

            h2 {
                margin-left: 2rem !important;
            }
        }
    }

    // SECONDARY HEADER
    .secondaryHeader {
        .secondaryHeaderTxtcontainer {
            width: 30rem;
            right: 0rem;

            // bottom: -3rem;
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .headerHome {
        // .headerUslugeContainer {
        //     p {
        //         margin-top: 0.4rem !important;
        //     }
        // }

        .logoHeader {
            content: url("../Images/Logo/IZO-DECOR-GLASS-Logo-ExSm.webp");
            width: 30rem;
            left: -11rem;
        }

        .headerSlogan {
            width: 23.8rem;
            height: 14rem;

            h1 {
                font-size: 2.3rem;
            }

            h2 {
                font-size: 1.4rem;
            }
        }
    }

    // SECONDARY HEADER
    .secondaryHeader {
        .secondaryHeaderTxtcontainer {
            width: 28rem;
            right: 0rem;

            // bottom: -3rem;
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 490px) {
    .headerHome {
        // .headerUslugeContainer {
        //     p {
        //         margin-top: 0.4rem !important;
        //     }
        // }

        .logoHeader {
            width: 27rem;
            left: -10rem;
        }

        .headerSlogan {
            width: 20.7rem;
            height: 13rem;

            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.2rem;
            }
        }
    }
    // SECONDARY HEADER
    .secondaryHeader {
        .secondaryHeaderTxtcontainer {
            width: 25rem;
            right: 0rem;

            // bottom: -3rem;
            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem!important;
            }
        }
    }
}

@media (max-width: 420px) {
    .headerHome {

        .logoHeader {
            width: 24rem;
            left: -9rem;
        }

        .headerSlogan {
            width: 18.7rem;

            h1 {
                font-size: 1.8rem;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }
     // SECONDARY HEADER
    .secondaryHeader {
        .secondaryHeaderTxtcontainer {
            width: 23rem;
            right: 0rem;

            // bottom: -3rem;
            h1 {
                font-size: 2.3rem;
            }

            p {
                font-size: 1.3rem!important;
            }
        }
    }
}

@media (max-width: 380px) {
    .headerHome {

        .logoHeader {
            width: 20rem;
            left: -7rem;
            top: 18rem;
        }

        .headerSlogan {
            width: 17rem;

            h1 {
                font-size: 1.8rem;
            }

            h2 {
                font-size: 1rem;
            }
        }

    }
     // SECONDARY HEADER
    .secondaryHeader {
        .secondaryHeaderTxtcontainer {
            width: 19rem;
            right: 0rem;

            // bottom: -3rem;
            h1 {
                font-size: 2.1rem!important;
            }

            p {
                font-size: 1.1rem!important;
            }
        }
    }
}

@media (max-width: 320px) {
    .headerHome {

        .logoHeader {
            // top: 11rem !important;
            width: 20rem;
        }
    }

     // SECONDARY HEADER
    .secondaryHeader {
        .secondaryHeaderTxtcontainer {
            width: 17rem;
            right: 0rem;

            // bottom: -3rem;
            h1 {
                font-size: 2.1rem!important;
            }

            p {
                font-size: 1.1rem!important;
            }
        }
    }
}