@use "./variables";

.banerItemContainer {
  // background-color: variables.$banerUslugeBg;
  // width: 17rem;
  // height: 18rem;

  p {
    font-size: 1.1rem;
  }
}

.homeAboutUs {
  background-image: url("../Images/paralaxImg/paralaxBg.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .paralaxColor {
    background-color: variables.$secondaryBgColor;
  }

  .aboutUsContainer {
    background-color: variables.$tertiaryBgColor;

  }
}

.oNamaHeader {
  color: variables.$secondaryTexColor;
}

.aboutUsImgContainer {
  background-image: url("../Images/aboutUsOrigin.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}

//MARQUEE IMAGE SLIDER
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-50%);
  }
}

.marqueHome {
  height: 30rem;
}

.marquee {
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;

  .marqueeContent {
    display: flex;
    animation: scroll 50s linear infinite;
    will-change: transform;
    width: 200%;
    height: 100%;
    gap: 0.5rem;

    .marqueeItem {
      width: 100%;
      height: 100%;

      img {
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


@media (max-width: 1200px) {
  .banerItemContainer {

    h2 {
      font-size: 1.3rem !important;
    }

    p {
      font-size: 1rem;
      margin-top: 0.5rem !important;
    }
  }

}


@media (max-width: 992px) {
  .aboutUsContainer {
    h2 {
      margin-bottom: 1rem !important;
    }
  }

  .marquee {
    height: 20rem;
  }
}

@media (max-width: 768px) {

  .aboutUsImgContainer {
    height: 30rem;
  }

  .marquee {
    height: 15rem;

    .marqueeContent {
      animation: scroll 20s linear infinite;
    }
  }
}

@media (max-width: 490px) {

  .banerItemContainer {

    h2 {
      font-size: 1.19rem !important;
    }

    p {
      font-size: 0.95rem;
      margin-top: 0.5rem !important;
    }
  }

  .aboutUsImgContainer {
    height: 25rem;
  }

  .aboutUsContainer {
    h2 {
      margin-bottom: 0rem !important;
    }
  }

  .marquee {
    height: 10rem;

    .marqueeContent {
      animation: scroll 10s linear infinite;
    }
  }
}

@media (max-width: 490px) {
  .banerItemContainer {

    h2 {
      font-size: 1.19rem !important;
    }

    p {
      font-size: 0.95rem;
      margin-top: 0.5rem !important;
    }
  }
}

@media (max-width: 420px) {
  .banerItemContainer {

    h2 {
      font-size: 1.05rem !important;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 380px) {
  .banerItemContainer {

    h2 {
      font-size: 0.85rem !important;
    }

    p {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 320px) {
  .banerItemContainer {

    h2 {
      font-size: 0.72rem !important;
    }

    p {
      font-size: 0.7rem;
    }
  }
}