@use "./variables";

.logoNav {
    width:250px
}

.mainNav {
    z-index: 1000;
    top: 0;

    .navLiItem {
        font-weight: variables.$fontW600;

        .navLinkItem {
            transition: all 0.3 ease;
        }
        .navLinkItem:hover, .navLinkItem:focus {
            color: variables.$navHoverColor;
        }
        .active {
            color: variables.$navHoverColor;
            // font-weight: variables.$fontW700;
            background-color: unset!important;
        }
    }

    .dropDown:hover .dropDownMenu, 
    .dropDown:focus .dropDownMenu {
        opacity: 1;
        height: 10rem;
        transition: all 0.3s ease;
    }

     .dropDownMenu {
        width: 18rem;
        height: 0;
        top: 100%;
        background-color: #FFF;
        opacity: 0;
        transition: all 0.3s ease;
    }

   
}

@media (max-width: 992px) {
   .dropDownMenu {
    left: 10rem;
   }
}

