@use "./variables";

.logoNav {
    width:250px
}

.mainNav {
    z-index: 1000;
    top: 0;

    .navLiItem {
        font-weight: variables.$fontW600;

        .navLinkItem {
            transition: all 0.3 ease;
        }
        .navLinkItem:hover, .navLinkItem:focus {
            color: variables.$navHoverColor;
        }
        .active {
            color: variables.$navHoverColor;
            // font-weight: variables.$fontW700;
            background-color: unset!important;
        }
    }

     .dropDownMenu {
        width: 400px;
        top: 100%;
    }

    .dropDown:hover .dropDownMenu, .dropDown:focus .dropDownMenu  {
        display: block;           
    }

   
    
}

