.notFound {
    min-height: 80vh;
    background-image: url("../Images/headerImg/headerBgGlass.webp");
    background-size: cover;
    background-position: center;
    padding: 3rem 1rem;
  
    h1 {
      font-size: 8rem;
    }
  
    p {
      max-width: 500px;
    }
  }
  