@use "./variables";


.tipoviStaklaParalax {
    width: 100%;
    height: 20rem;
    background-image: url("../Images/paralaxClearGlassFull.webp");
    background-position: right top;
    background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: fixed;
}