

// FONT WEIGHT
$fontW500: 500;
$fontW600: 600;
$fontW700: 700;
$fontW800: 800;


// COLORS
$primaryTextColor: #393939;
$secondaryTexColor: #026591;

$primaryBgColor: #f9f9f9;
$secondaryBgColor: #53cee697;
$tertiaryBgColor: #fffcfcd1;
$marqueeBgColor: #53cee679;
$primaryColor: #03A0E4;
$navHoverColor: #0271A2;
$footerIconContainerBgColor: #2a2f35;
$hoverFooterSocialIcon: #03A0E4;
$powerByColor: #fb8122;