

// FONT WEIGHT
$fontW600: 600;


// COLORS
$primaryTextColor: #393939;
$primaryColor: #03A0E4;
$navHoverColor: #0271A2;
$footerIconContainerBgColor: #2a2f35;
$hoverFooterSocialIcon: #03A0E4;
$powerByColor: #fb8122;